.choices__container{
    width: $max-width;
    margin-top: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    margin-top: 20.5rem;
    .choices_choice{
        @include BigText($color:$lightgrey);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2.5rem;
        .choices_text{
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 1.8rem;
        }
        .choices_button{
            color:$whites;
            background-color: $oranges;
            width: 25rem;
            padding: 1.5rem;
            border-radius: 4rem;
            display:flex;
            justify-content: center;
        }
    }
}