.how_outerContainer{
    width: 100%;
    background-color: $cor_primaria;
    margin-top: 23.3rem;
    .how_innerContainer{
        width: $max-width;
        margin-left: auto;
        margin-right: auto;
        .how_header{
            background-color: $whites;
            margin:-4rem 1rem 7rem 1rem;
            display:flex;
            justify-content: flex-start;
            padding: 2.3rem 0;
            border-radius: 2rem;
            .how_headerTitle{
                font-weight: 600;
                font-size: 2.55rem;
                color: $cor_primaria;
                line-height: 3.2rem;
                font-family: visby-round,Nunito;
                margin:0 6.5rem;
            }
            .how_headerParagraph{
                font-weight: 300;
                font-size: 1.06rem;
                color: $lightgrey;
                font-family: "Poppins", sans-serif;
                line-height: 1.9rem;
                word-spacing:-0.1rem;
                letter-spacing: 0.06rem;
                max-width: 44rem;
            }
        }
        .how_topics{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .how_topic{
                width:19.5rem;
                margin:0 4rem 6rem 4rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.267);
                display:flex;
                .how_topicIcon{
                    .how_topicImg{

                    }
                }
                .how_topicText{
                    margin-top:-0.36rem;
                    margin-left: 1.7rem;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .how_topicTitle{
                        font-weight: 600;
                        font-size: 1.6rem;
                        color: $whites;
                        line-height: 2.1rem;
                        font-family: visby-round,Nunito;
                        max-width: 14rem;
                        margin-bottom: 1.5rem;
                    }
                    .how_topicButton{
                        display:flex;
                        justify-content: flex-start;
                        margin-bottom: 2.3rem;
                        padding-left: 0.15rem;                        
                        .how_topicButtonText{
                            font-weight: 300;
                            font-size: 1.2rem;
                            color: $whites;
                            font-family: "Poppins", sans-serif;
                            line-height: 1.9rem;
                            word-spacing:-0.1rem;
                            letter-spacing: 0.06rem;
                        }
                        .how_topicButtonIcon{

                        }
                    }
                }
            }
        }
    }
}