.save_container{
    width: $max-width;
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto;
    .save_main{
        display: flex;
        flex-direction: column;

        .save_mainTitle{
            font-weight: 600;
            font-size: 2.55rem;
            color: $cor_primaria;
            line-height: 3.2rem;
            font-family: visby-round,Nunito;
            margin-bottom: 2rem;
            margin-left: 4rem;
        }
        .save_mainParagraph{
            font-weight: 300;
            font-size: 1.1rem;
            color: $lightgrey;
            font-family: "Poppins", sans-serif;
            line-height: 1.8rem;
            word-spacing:-0.1rem;
            letter-spacing: 0.03rem;  
            max-width: 29rem;  
            margin-bottom: auto;
            margin-left: 4rem;


        }
        .save_mainIlustration{

        }
    }
    .save_topics{
        display:flex;
        flex-direction: column;
        .save_topic{
            display:flex;
            align-items: center;
            width:51.8rem;
            height:6.5rem;
            padding: 1.1rem 2rem 1.1rem 3rem;
            background-color: rgba(255, 255, 255, 0.432);
            box-shadow: 0 0 0.5em #90909063;
            border-radius: 2rem;
            margin-bottom: 2.1rem;
            margin-right: 1rem;
            &:last-child{
                margin-bottom:1rem;
            }
            .save_topicIcon{
                width:5rem;
            }
            .save_topicText{
                font-weight: 600;
                font-size: 1.2rem;
                color: $cor_primaria;
                font-family: visby-round,Nunito;
                margin-left:2rem;
                margin-right: auto;
            }
            .save_topicButton{
                height:3.2rem;
                margin-right: 1rem;
                .save_topicbtn{
                    height:3.2rem;
                }
                
            }
        }
    }
}