.title_all{
    width: 100%;
    overflow: hidden;
    .title__outerContainer{
        width: 100%;
        background-color: $purple;
        margin-top: 6.4rem;
        padding: 0rem 0rem 3rem 0rem;
        height: 20rem;
        display: flex;
        align-items: center;
        .title_innerContainer{
            width: $max-width;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            .title_titles{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .title_smallTitle{
                    @include BigText($color:#C4B3F7,$size:1.9rem);
                    text-decoration: none;
                    margin-left: 1.1rem;

                }
                .title_mainTitle{
                    @include BigText($color:$whites);
                    margin-left: 1rem;
                }
            }
            .title_texts{
                max-width: 35rem;
                padding-left: 6.5rem;
                padding-top: 0.5rem;
                .title_text{
                    @include SmallText($color:$whites);
                }
            }
        }
    }
    .title_hole{
        width: 100rem;
        margin-top: -3rem;
        margin-left: auto;
        margin-right: auto;
        background-color:$whites;
        height: 9rem;
        border-radius: 4.5rem;
        margin-bottom: -6rem;
    }
}